/* styles/ProductCard.module.css */
.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height: 260px;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s;
  color: #e2e2e4;
}

.card:hover {
  transform: scale(1.05);
}

.image {
  width: 100%;
  min-height: 150px;
  max-height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.details {
  padding: 10px;
}

.title {
  font-size: 18px;
  margin-bottom: 8px;
  width: 100%;
  height: min-content;
  overflow: hidden;
}

.description {
  font-size: 11px;
  margin-bottom: 8px;
}

.price {
  font-size: 16px;
  font-weight: bold;
  color: #007bff;
}
.subOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-content: space-between;
}

.actButtons{
  width: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
}
.actButtons > span {
  padding: 5px 10px;

  border-radius: 3px;

  cursor: pointer;

  font-size: 14px;
}
.editBTN{
    background-color: #295367;
}
.editBTN:hover{
    background-color: #4c8aa7;
}
.deleteBTN{
  background-color: #cd5160;
}
.deleteBTN:hover{
  background-color: #e17582;
}


